.phonev, .phoneh {
    .vinneren-view {
      .vinneren-banner {
        .vinneren-banner-title {
          font-size: 20px;
        }
        .vinneren-banner-text {
          font-size: 18px;
        }
      }
      .vinneren-whyus {
        .vinneren-whyus-section {
          display: block;
          width: 100%;
          padding: 25px 0px;
        }
      }
      .vinneren-services {
        .vinneren-services-section {
          display: block;
          width: 100%;
          padding: 25px 0px;
        }
      }
      .vinneren-products {
        .vinneren-products-group-section {
          background: $white;
          .vinneren-products-section {
            margin: 30px 15px;
            width: 260px;
            img {
              width: 230px;
            }
          }
        }

      }
      .vinneren-contact {
        .contact-form {
          .contact-formelement {
            width: 100%;
            .ui-float-label {
              width: 100%;
            }
          }
        }
      }
      .vinneren-footer {
          .vinneren-footer-social {
            width: 100%;
            text-align: center;
          }
          .vinneren-footer-copyright {
            width: 100%;
            text-align: center;
            margin: 15px 0px;
          }
          .vinneren-footer-links {
            width: 100%;
            text-align: center;
          }
      }
    }

}

.vinneren-view {
  .vinneren-banner {
    background-color: $darkblue;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/images/vinneren-background.png");
    padding-top: 40px;
    padding-bottom: 40px;
    .vinneren-banner-title {
      display: block;
      text-align: center;
      font-size: 26px;
      color: $lightblue;
    }
    .vinneren-banner-text {
      display: inherit;
      font-size: 24px;
      max-width: 550px;
      text-align: center;
      margin: 35px auto;
      color: $white;
    }
    .vinneren-banner-btn {
      text-align: center;
      div {
        font-size: 14px;
        padding: 8px 24px;
        background: $lightblue;
        border-radius: 3px;
        display: inline-block;
        color: $darkblue;
        cursor: pointer;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
  .vinneren-whyus {
    padding: 15px;
    background: $darkblue;
    .vinneren-whyus-section {
      display: inline-block;
      width: 33%;
      padding: 25px;
      .vinneren-whyus-section-title {
        display: block;
        font-size: 18px;
        color: $white;
        padding-bottom: 15px;
      }
      .vinneren-whyus-section-text {
        font-size: 14px;
        color: $white;
        font-weight: lighter;
      }
    }
  }
  .vinneren-services {
    padding: 15px;
    background: $white;
    .vinneren-services-title {
      font-size: 26px;
      font-weight: bold;
      text-align: center;
      margin: 20px 0px;
      color: $darkblue;
    }
    .vinneren-services-section {
      display: inline-block;
      width: 33%;
      padding: 25px;
      text-align: center;
      img {
        width: 50px;
      }
      .vinneren-services-section-title {
        margin: 20px 0px;
        font-size: 18px;
        font-weight: bold;
        display: block;
        color: $darkblue;
      }
      .vinneren-services-section-text {
        font-size: 14px;
        color: $black;
        font-weight: normal;
        display: none;
      }
    }
  }
  .vinneren-products {
    background: $white;
    text-align: center;
    display: none;
    .vinneren-products-title {
      font-size: 26px;
      font-weight: bold;
      padding: 50px 40px 20px 40px;
      color: $darkblue;
      display: inline-block;
      border-top: 2px solid $lightgray;
    }
    .vinneren-products-group-section {
      background: linear-gradient(to bottom, $white 50%, $lighterblue 50%);
      text-align: center;
      .vinneren-products-section {
        width: 300px;
        height: 300px;
        text-align: center;
        border-radius: 9px;
        background: $white;
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
        display: inline-block;
        padding: 30px 15px;
        margin: 30px 50px;
        img {
          width: 260px;
          display: inline-block;
        }
        .vinneren-products-section-text {
          font-size: 14px;
          color: $black;
          font-weight: normal;
          display: block;
          margin: 30px 0px;
        }
        .vinneren-products-section-btn {
          text-align: center;
          div {
            font-size: 14px;
            padding: 8px 24px;
            background: $lightblue;
            border-radius: 3px;
            display: inline-block;
            color: $darkblue;
            cursor: pointer;
            &:hover {
              opacity: 0.7;
            }
          }
        }
      }
    }
  }
  .vinneren-contact {
    background: $lighterblue;
    text-align: center;
    padding-bottom: 50px;
    .vinneren-contact-btn {
      text-align: center;
      div {
        font-size: 14px;
        padding: 8px 24px;
        background: $lightblue;
        border-radius: 3px;
        display: inline-block;
        color: $darkblue;
        cursor: pointer;
        &:hover {
          opacity: 0.7;
        }
      }
    }
    .vinneren-contact-title {
      font-size: 26px;
      font-weight: bold;
      padding: 50px 40px 20px 40px;
      color: $darkblue;
      display: block;
    }
    .ui-float-label {
      display: inline-block;
      width: 100%;
      input {
        width: 100%;
      }
    }
    .contact-form {
      text-align: left;
      max-width: 600px;
      display: inline-block;
      overflow: hidden;
      width: 100%;
      padding: 0px 15px;
      .contact-formelement {
        margin-top: 20px;
        margin-bottom: 20px;
        background: transparent;
        text-align: left;
        display: inline-block;
        width: 48%;
        float: right;
        &:last-child {
          width: 100%;
        }
        &:first-child {
          float: left;
        //  margin-right: 40px;
        }
        span, label {
          background: transparent;
        }
        label {
          color: $darkblue;
          font-weight: bold;
        }
        input {
          background: transparent;
          border-radius: 0px;
          border-top: 0px;
          border-left: 0px;
          border-right: 0px;
          border-bottom: 1px solid $gray;
          color: $darkblue;
          &:focus {
            box-shadow: 0px 1px 0px $darkblue;
          }
          &:hover {
            border-color: $darkblue;
          }
          &.error-input {
            border-color: $red;
            &:focus {
              box-shadow: 0px 1px 0px $red;
            }
            &:hover {
              border-color: $red;
            }
          }
        }
        .contact-error {
          display:block;
          font-size: 12px;
          color: $red;
          margin-top: 5px;
          margin-left: 5px;
        }
      }
    }
  }
  .vinneren-footer {
    padding: 20px;
    background: $darkblue;
    color: $white;
    a {
      color: $white;
      i {
        font-size: 20px;
        margin: 0px 5px;
        vertical-align: middle;
      }
    }
    .vinneren-footer-social {
      display: inline-block;
      width: 28%;
      text-align: left;
    }
    .vinneren-footer-copyright {
      display: inline-block;
      width: 44%;
      text-align: center;
    }
    .vinneren-footer-links {
      display: inline-block;
      width: 28%;
      text-align: right;
      a {
        margin-left: 20px;
      }
    }
  }
}
