body {
	overflow: hidden;
}
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin: 0;
	outline: none;
	padding: 0;
	text-decoration: none;
  font-family: 'Nunito', sans-serif;
	font-size: 14px;
}
i {
	vertical-align: bottom;
}

.hide {
	display: none;
}

.show {
	display: block;
}

h2 {
	font-size: 24px;
}

.main-view {
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	&.no-scroll-view {
		overflow: hidden;
	}
	&.no-scroll {
		overflow: hidden;
	}
	&::-webkit-scrollbar {
    width: 5px;
	  background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
	   border-radius: 10px;
	   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	   background-color: $darkgray;
   }
}
.content-view {
	padding-top: 52px;
	&.phoneh, &.phonev {
		padding-top: 45px;
	}
}
.ui-growl-item.ui-helper-clearfix {
	text-align: left;
}
.ui-growl-image {
	display: none;
}
.dashboard-view {
	display: inline-block;
	height: -webkit-calc(100% - 52px);
	height: -moz-calc(100% - 52px);
	height: calc(100% - 52px);
	background: transparent;
	margin-top: 52px;
	padding-left: 5px;
	vertical-align: top;
	overflow-y: scroll;
	overflow-x: hidden;
	width: -webkit-calc(100% - 230px);
	width: -moz-calc(100% - 230px);
	width: calc(100% - 230px);
	&.phoneh, &.phonev {
		width: 100%;
		height: -webkit-calc(100% - 45px);
		height: -moz-calc(100% - 45px);
		height: calc(100% - 45px);
		margin-top: 45px;
	}
	&.no-scroll {
		overflow: hidden;
	}
	&::-webkit-scrollbar {
    width: 5px;
	  background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
	   border-radius: 10px;
	   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	   background-color: $darkgray;
   }
}
.ui-widget-header {
	border: 1px solid $darkblue !important;
	background: $darkblue !important;
}
