$darkblue: #132A4F;
$lightblue: #00E1FF;
$lighterblue: rgba(0, 225, 255, 0.1);
//$red: #88485A;
//$red: #F44336;
//$red: #DE1010;
$red: #A73131;
$gray: #8894A6;
$white: #FFFFFF;
$darkgray: #555;
$black: #000000;
$lightgray: #D4D4D4;
$lightergray: #EEEEEE;
$grayhead: #F4F7F9;
