.header-component {
  background: $darkblue;
  padding: 5px 0px 5px 10px;
  position: fixed;
  width: 100%;
  z-index: 1;
  &.session-active {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  img {
    cursor: pointer;
    max-width: 168px;
  }
  .header-menu-btn {
    display: inline-block;
    cursor: pointer;
    margin-right: 15px;
    margin-bottom: 15px;
    vertical-align: super;
  }
}
