.menu-component {
  display: inline-block;
  width: 230px;
  background: $darkblue;
  height: -webkit-calc(100% - 52px);
	height: -moz-calc(100% - 52px);
	height: calc(100% - 52px);
  overflow-y: scroll;
  position: relative;
  left: -230px;
  margin-top: 52px;
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
	  background-color: $darkblue;
  }
  &::-webkit-scrollbar-thumb {
	   border-radius: 10px;
	   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	   background-color: $darkgray;
   }
  .menu-account {
    padding: 10px;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    span {
      background: transparent;
      color: $white;
      cursor: pointer;
      position: relative;
      overflow: hidden;
      width: 135px;
      height: 14px;
      &:after {
        content: '';
        position: absolute;
        left: 0;
        display: inline-block;
        height: 1em;
        width: 100%;
        border-bottom: 2px solid;
        margin-top: 25px;
        opacity: 0;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: scale(0,1);
        transform: scale(0,1);
      }
      &:hover, &.active {
        color: $lightblue;
        cursor: pointer;
        &:after{
          opacity: 1;
          -webkit-transform: scale(1);
          transform: scale(1);
        }
      }
    }
    .menu-account-avatar {
      border-radius: 30px;
      height: 60px;
      width: 60px;
      display: inline-block;
      margin-right: 10px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      vertical-align: middle;
    }
  }
  .menu-option {
    padding: 10px;
    a {
      color: $white;
      i {
        margin-right: 10px;
        font-size: 20px;
        vertical-align: bottom;
      }
      span {
        position: relative;
        vertical-align: middle;
        font-size: 14px;
        &:after {
          content: '';
          position: absolute;
          left: 0;
          display: inline-block;
          height: 1em;
          width: 100%;
          border-bottom: 2px solid;
          margin-top: 10px;
          opacity: 0;
        	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        	transition: opacity 0.35s, transform 0.35s;
        	-webkit-transform: scale(0,1);
        	transform: scale(0,1);
        }
        &:hover, &.active {
          &:after{
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
          }
        }
      }
      &:hover, &.active {
        color: $lightblue;
        cursor: pointer;
      }
    }
  }
}
