.ecm-menu-top-component {
    float: right;
    padding: 5px 0px;
    .menu-top-element {
      display: inline-block;
      margin: 0px 15px;
      cursor: pointer;
      a {
        color: $white;
        &:hover {
          color: $lightblue;
        }
        i {
          font-size: 18px;
          vertical-align: sub;
          margin-right: 5px;
        }
        span {
          position: relative;
          font-size: 16px;
          &:after {
            content: '';
            position: absolute;
            left: 0;
            display: inline-block;
            height: 1em;
            width: 100%;
            border-bottom: 2px solid;
            margin-top: 10px;
            opacity: 0;
            -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
            transition: opacity 0.35s, transform 0.35s;
            -webkit-transform: scale(0,1);
            transform: scale(0,1);
          }
          &:hover, &.active {
            color: $lightblue;
            &:after {
              opacity: 1;
              -webkit-transform: scale(1);
              transform: scale(1);
            }
          }
        }
      }
    }
}
