.menu-mob-component {
  display: block;
  background: $darkblue;
  padding-top: 15px;
  .menu-option {
    padding: 10px;
    a {
      color: $white;
      i {
        margin-right: 10px;
        font-size: 20px;
        vertical-align: bottom;
      }
      span {
        position: relative;
        vertical-align: middle;
        font-size: 14px;
        &:after {
          content: '';
          position: absolute;
          left: 0;
          display: inline-block;
          height: 1em;
          width: 100%;
          border-bottom: 2px solid;
          margin-top: 10px;
          opacity: 0;
        	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        	transition: opacity 0.35s, transform 0.35s;
        	-webkit-transform: scale(0,1);
        	transform: scale(0,1);
        }
        &:hover, &.active {
          &:after{
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
          }
        }
      }
      &:hover, &.active {
        color: $lightblue;
        cursor: pointer;
      }
    }
  }
}
