.loading-component {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: $white;
  background-color: rgba(255, 255, 255, 0.4);
  .loading-content {
    display: block;
    margin-top: 10%;
    width: 100%;
    text-align: center;
  }
}
