.account-view {
  text-align: center;
  margin-top: 30px;
  .account-error {
    color: $red;
  }
  h2 {
    color: $darkblue;
  }
  .account-card {
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    width: 300px;
    .account-card-header {
      background: $darkblue;
      color: $white;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      padding: 7px 25px;
      text-align: center;
      font-size: 18px;
    }
    .account-card-body {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border-right: 1px solid $gray;
      border-left: 1px solid $gray;
      border-bottom: 1px solid $gray;
      padding: 25px 25px 0px 25px;
      text-align: center;
      .account-card-element {
        .account-avatar {
          border-radius: 30px;
          height: 60px;
          width: 60px;
          display: inline-block;
          margin-right: 10px;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          vertical-align: middle;
        }
        .account-error {
          display: block;
          text-align: left;
          margin-left: 5px;
          font-size: 10px;
        }
        text-align: center;
        margin-bottom: 25px;
        button {
          position: relative;
          border: 1px solid $darkblue;
          background: $darkblue;
          font-size: 14px;
          color: $white;
          padding: 5px 105px;
          border-radius: 3px;
          margin-right: 0px;
          i {
            bottom: 0px;
          }
          &:enabled {
            &:active, &:hover, &:focus {
              border: 1px solid $darkblue;
              background: $darkblue;
              opacity: 0.9;
            }
          }
          span {
            vertical-align: middle;
            line-height: 20px;
          }
          i {
            position: inherit;
            color: $white;
            float: left;
            margin-right: 10px;
            vertical-align: middle;
            font-size: 20px;
          }
        }
        .ui-fileupload-choose {
          position: relative;
          right: 0px;
          height: 100%;
          width: 100%;
          background: transparent;
          border: 0px;
          .fa-plus {
            display: none;
          }
        }
        .ui-float-label {
          position: relative;
        }
        span {
          display: inline-block;
        }
        .ui-float-label {
          width: 100%;
          color: $darkblue;
          label {
            color: $darkblue;
          }
        }
        input {
          width: 99%;
          background: transparent;
          border-radius: 0px;
          border-top: 0px;
          border-left: 0px;
          border-right: 0px;
          border-bottom: 1px solid $darkblue;
          color: $darkblue;
          &:focus {
            box-shadow: 0px 1px 0px $darkblue;
          }
          &:hover {
            border-color: $darkblue;
          }
          &.error-input {
            border-color: $red;
            &:focus {
              box-shadow: 0px 1px 0px $red;
            }
            &:hover {
              border-color: $red;
            }
          }
        }
      }

    }
  }
}
