.phonev, .phoneh {
  &.ecm-forgotpwd-view {
    height: -webkit-calc(100% - 45px - 135px);
    height: -moz-calc(100% - 45px - 135px);
    height: calc(100% - 45px - 135px);
    min-height: 340px;
  }
}
.ecm-forgotpwd-view {
  text-align: center;
  padding-top: 50px;
  background: $darkblue;
  height: -webkit-calc(100% - 52px - 61px);
	height: -moz-calc(100% - 52px -61px);
	height: calc(100% - 52px -61px);
  min-height: 340px;
  .forgotpwd-form {
    display: inline-block;
    background: transparent;

    .forgotpwd-error-section {
        color: $red;
        background: transparent;
        font-size: 12px;
        text-align: left;
        margin-bottom: 25px;
        span {
          background: transparent;
        }
    }
    .ui-float-label {
      display: inline-block;
    }
    .forgotpwd-tittle {
      font-weight: regular;
      margin-bottom: 25px;
      background: transparent;
      text-align: left;
      color: $lightblue;
      span {
        font-size: 20px;
        background: transparent;
      }
    }
    .forgotpwd-formelement {
      margin-bottom: 35px;
      background: transparent;
      text-align: left;
      span, label {
        background: transparent;
      }
      label {
        color: $white;
      }
      input {
        background: transparent;
        border-radius: 0px;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        border-bottom: 1px solid $gray;
        color: $white;
        &:focus {
          box-shadow: 0px 1px 0px $lightblue;
        }
        &:hover {
          border-color: $lightblue;
        }
        &.error-input {
          border-color: $red;
          &:focus {
            box-shadow: 0px 1px 0px $red;
          }
          &:hover {
            border-color: $red;
          }
        }
      }
      .forgotpwd-error {
        display:block;
        font-size: 12px;
        color: $red;
        margin-top: 5px;
        margin-left: 5px;
      }
      button {
        border: 1px solid $lightblue;
        background: $lightblue;
        font-size: 14px;
        color: $darkblue;
        padding: 5px 20px;
        margin-right: 0px;
        &:enabled {
          &:active, &:hover, &:focus {
            border: 1px solid $lightblue;
            background: $lightblue;
            opacity: 0.9;
          }
        }
      }
      &.btn-forgotpwd {
        text-align: right;
      }
      &.lbl-forgot {
        text-align: right;
        a {
          text-decoration: none;
          font-size: 14px;
          color: $lightblue;
        }
      }
    }
  }
}
