.history-notify-view {
  position: relative;
  text-align: center;
  margin-top: 30px;
  min-height: -webkit-calc(100% - 52px);
	min-height: -moz-calc(100% - 52px);
	min-height: calc(100% - 52px);
	&.phoneh, &.phonev {
		min-height: -webkit-calc(100% - 60px);
		min-height: -moz-calc(100% - 60px);
		min-height: calc(100% - 60px);
	}

  .history-table {
    margin-top: 30px;
    .ui-panel-title {
      font-size: 12px;
      font-weight: normal;
    }
    .ui-g-12 {
      &.ui-md-3 {
        min-width: 310px;
        margin: 0px auto;
      }
    }
    .item-img {
      display: inline-block;
      width: 40px;
      img {
        width: 40px;
        height: 40px;
        border-radius: 20px;
      }
    }
    .item-content {
      display: inline-block;
      width: 155px;
      text-align: left;
      padding-left: 10px;
      label {
        font-weight: bold;
        display: block;
        font-size: 12px;
      }
      span {
        display: block;
        font-size: 12px;
      }
    }
    .item-click {
      display: inline-block;
      width: 70px;
      vertical-align: top;
      label {
        font-weight: bold;
        display: block;
        font-size: 12px;
      }
    }
  }

  .ui-button-icon-left.fa.fa-plus {
    display: none !important;
  }
  .ui-datagrid-header {
    font-weight: normal;
  }
  h2 {
    color: $darkblue;
  }

}
