.phoneh, .phonev {
  .home-dashboard-view {
    .home-card {
      display: block;
      width: 300px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.home-dashboard-view {
  text-align: center;
  margin-top: 30px;
  h2 {
    color: $darkblue;
  }
  .home-card {
    display: inline-block;
    vertical-align: top;
    margin-right: 40px;
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    min-width: 250px;
    .home-card-header {
      background: $darkblue;
      color: $white;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      padding: 7px 25px;
      text-align: center;
      font-size: 18px;
    }
    .home-card-body {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border-right: 1px solid $gray;
      border-left: 1px solid $gray;
      border-bottom: 1px solid $gray;
      padding: 25px 25px 0px 25px;
      text-align: center;
      label {
        display: block;
        margin-bottom: 20px;
        font-size: 28px;
        font-weight: bold;
      }
    }
  }
}
