.phonev, .phoneh {
    .ecm-view {
      .ecm-banner {
        .ecm-banner-title {
          font-size: 20px;
        }
        .ecm-banner-text {
          font-size: 18px;
        }
      }
      .ecm-whyus {
        .ecm-whyus-section {
          display: block;
          width: 100%;
          padding: 25px 0px;
        }
      }
      .ecm-features {
        .ecm-features-section {
          display: block;
          width: 100%;
          padding: 25px 0px;
        }
      }
      .ecm-pricing {
        .ecm-pricing-group-section {
          background: $white;
          .ecm-pricing-section {
            margin: 30px;
            padding: 15px;
            width: 260px;
          }
        }

      }
      .ecm-start {
        .ecm-start-group-section {
          .ecm-start-section {
            display: block;
            width: 100%;
          }
        }
      }
      .ecm-contact {
        .contact-form {
          .contact-formelement {
            width: 100%;
            .ui-float-label {
              width: 100%;
            }
          }
        }
      }
    }

}

.ecm-view {
  .ecm-banner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/images/vinneren-background.png");
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: $darkblue;
    .ecm-banner-title {
      display: block;
      text-align: center;
      font-size: 26px;
      color: $lightblue;
    }
    .ecm-banner-text {
      display: inherit;
      font-size: 24px;
      max-width: 550px;
      text-align: center;
      margin: 35px auto;
      color: $white;
    }
    .ecm-banner-btn {
      text-align: center;
      div {
        font-size: 14px;
        padding: 8px 24px;
        background: $lightblue;
        border-radius: 3px;
        display: inline-block;
        color: $darkblue;
        cursor: pointer;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
  .ecm-whyus {
    padding: 15px;
    background: $darkblue;
    .ecm-whyus-section {
      display: inline-block;
      width: 33%;
      padding: 25px;
      .ecm-whyus-section-title {
        display: block;
        font-size: 18px;
        color: $white;
        padding-bottom: 15px;
      }
      .ecm-whyus-section-text {
        font-size: 14px;
        color: $white;
        font-weight: lighter;
      }
    }
  }
  .ecm-features {
    padding: 15px;
    background: $white;
    .ecm-features-title {
      font-size: 26px;
      font-weight: bold;
      text-align: center;
      margin: 20px 0px;
      color: $darkblue;
    }
    .ecm-features-section {
      display: inline-block;
      width: 33%;
      padding: 25px;
      height: 200px;
      overflow: hidden;
      text-align: center;
      img {
        height: 50px;
      }
      .ecm-features-section-title {
        margin: 20px 0px;
        font-size: 18px;
        font-weight: bold;
        display: block;
        color: $darkblue;
      }
      .ecm-features-section-text {
        font-size: 14px;
        color: $black;
        font-weight: normal;
      }
    }
  }
  .ecm-pricing {
    background: $white;
    text-align: center;
    .ecm-pricing-title {
      font-size: 26px;
      font-weight: bold;
      padding: 50px 40px 20px 40px;
      color: $darkblue;
      display: inline-block;
      border-top: 2px solid $lightgray;
    }
    .ecm-pricing-group-section {
      background: linear-gradient(to bottom, $white 50%, $lighterblue 50%);
      text-align: center;
      .ecm-pricing-section {
        width: 300px;
        height: 300px;
        text-align: center;
        border-radius: 9px;
        background: $white;
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
        display: inline-block;
        padding: 20px 15px;
        margin: 30px 50px;
        .ecm-pricing-section-title {
          font-size: 18px;
          color: $darkblue;
          font-weight: bold;
          display: block;
          margin: 10px 0px;
        }
        .ecm-pricing-section-subtitle {
          font-size: 40px;
          color: $lightblue;
          font-weight: normal;
          display: block;
          margin: 10px 0px;
        }
        .ecm-pricing-section-text {
          font-size: 14px;
          color: $black;
          font-weight: normal;
          display: block;
          margin: 10px 0px;
        }
        .ecm-pricing-section-btn {
          text-align: center;
          margin-top: 40px;
          div {
            font-size: 14px;
            padding: 8px 24px;
            background: $lightblue;
            border-radius: 3px;
            display: inline-block;
            color: $darkblue;
            cursor: pointer;
            &:hover {
              opacity: 0.7;
            }
          }
        }
      }
    }
  }
  .ecm-start {
    background: $lighterblue;
    text-align: center;
    .ecm-start-title {
      font-size: 26px;
      font-weight: bold;
      padding: 40px;
      color: $darkblue;
      display: block;
    }
    .ecm-start-group-section {
      .ecm-start-section {
        display: inline-block;
        width: 33%;
        img {
          width: 116px;
        }
        .ecm-start-section-text {
          font-size: 16px;
          font-weight: bold;
          color: $darkblue;
          display: block;
          padding: 30px 0;
          margin: 0 auto;
          width: 180px;
          text-align: center;
        }
      }
    }
  }
  .ecm-contact {
    background: $lighterblue;
    text-align: center;
    padding-bottom: 50px;
    .ecm-contact-btn {
      text-align: center;
      div {
        font-size: 14px;
        padding: 8px 24px;
        background: $lightblue;
        border-radius: 3px;
        display: inline-block;
        color: $darkblue;
        cursor: pointer;
        &:hover {
          opacity: 0.7;
        }
      }
    }
    .ecm-contact-title {
      font-size: 26px;
      font-weight: bold;
      padding: 50px 40px 20px 40px;
      color: $darkblue;
      display: block;
    }
    .ui-float-label {
      display: inline-block;
      width: 100%;
      input {
        width: 99%;
      }
    }
    .contact-form {
      text-align: left;
      max-width: 600px;
      display: inline-block;
      overflow: hidden;
      width: 100%;
      padding: 0px 15px;
      .contact-formelement {
        margin-top: 20px;
        margin-bottom: 20px;
        background: transparent;
        text-align: left;
        display: inline-block;
        width: 48%;
        float: right;
        &:last-child {
          width: 100%;
        }
        &:first-child {
          float: left;
        }
        span, label {
          background: transparent;
        }
        label {
          color: $darkblue;
          font-weight: bold;
        }
        input {
          background: transparent;
          border-radius: 0px;
          border-top: 0px;
          border-left: 0px;
          border-right: 0px;
          border-bottom: 1px solid $gray;
          color: $darkblue;
          &:focus {
            box-shadow: 0px 1px 0px $darkblue;
          }
          &:hover {
            border-color: $darkblue;
          }
          &.error-input {
            border-color: $red;
            &:focus {
              box-shadow: 0px 1px 0px $red;
            }
            &:hover {
              border-color: $red;
            }
          }
        }
        .contact-error {
          display:block;
          font-size: 12px;
          color: $red;
          margin-top: 5px;
          margin-left: 5px;
        }
      }
    }
  }
}
