.settings-view {
  position: relative;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  min-height: -webkit-calc(100% - 52px);
	min-height: -moz-calc(100% - 52px);
	min-height: calc(100% - 52px);
	&.phoneh, &.phonev {
		min-height: -webkit-calc(100% - 45px);
		min-height: -moz-calc(100% - 45px);
		min-height: calc(100% - 45px);
	}
  .ui-button-icon-left.fa.fa-plus {
    display: none !important;
  }
  .ask-error {
    color: $red;
  }
  h2 {
    color: $darkblue;
  }
  .settings-card {
    display: inline-block;
    vertical-align: top;
    width: 300px;
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    .settings-card-header {
      background: $darkblue;
      color: $white;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      padding: 7px 25px;
      text-align: left;
      font-size: 18px;
    }
    .settings-card-body {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border-right: 1px solid $gray;
      border-left: 1px solid $gray;
      border-bottom: 1px solid $gray;
      padding: 25px 25px 0px 25px;
      .settings-card-element {
        .ui-colorpicker {
          width: 100%;
          position: absolute;
          left: 0;
          .ui-colorpicker-preview {
            background-color: transparent !important;
          }
        }
        &.last-element {
          margin-bottom: 40px;
        }
        &.first-element {
          margin-bottom: 10px;
          button {
            border: 2px solid $darkblue;
            background: $white;
            color: $darkblue;
            &:enabled {
              &:active, &:hover, &:focus {
                border: 2px solid $darkblue;
                background: $white;
                opacity: 0.9;
              }
            }
          }
        }
        .ask-error {
          display: block;
          text-align: left;
          margin-left: 5px;
          font-size: 10px;
        }
        text-align: center;
        margin-bottom: 25px;
        button {
          position: relative;
          border: 1px solid $darkblue;
          background: $darkblue;
          font-size: 14px;
          color: $white;
          padding: 5px 0px;
          width: 100%;
          border-radius: 3px;
          margin-right: 0px;
          i {
            bottom: 0px;
          }
          &:enabled {
            &:active, &:hover, &:focus {
              border: 1px solid $darkblue;
              background: $darkblue;
              opacity: 0.9;
            }
          }
          span {
            vertical-align: middle;
            line-height: 20px;
          }
          i {
            position: inherit;
            color: $white;
            margin-right: 10px;
            vertical-align: middle;
            font-size: 20px;
          }
        }
        i {
          position: absolute;
          right: 0px;
          bottom: 5px;
          color: $darkblue;
          &.deletefile {
            right: -20px;
            cursor: pointer;
          }
        }
        .ui-fileupload-choose {
          position: absolute;
          right: 0px;
          height: 30px;
          width: 100%;
          background: transparent;
          border: 0px;
        }
        .ui-float-label {
          position: relative;
        }
        span {
          display: inline-block;
        }
        .ui-float-label {
          color: $darkblue;
          width: 100%;
          label {
            color: $darkblue;
          }
        }
        input {
          width: 99%;
          background: transparent;
          border-radius: 0px;
          border-top: 0px;
          border-left: 0px;
          border-right: 0px;
          border-bottom: 1px solid $darkblue;
          color: $darkblue;
          &:focus {
            box-shadow: 0px 1px 0px $darkblue;
          }
          &:hover {
            border-color: $darkblue;
          }
          &.error-input {
            border-color: $red;
            &:focus {
              box-shadow: 0px 1px 0px $red;
            }
            &:hover {
              border-color: $red;
            }
          }
        }
      }
    }
  }
}
