.subscribers-notify-view {
  position: relative;
  text-align: center;
  margin-top: 30px;
  min-height: -webkit-calc(100% - 52px);
	min-height: -moz-calc(100% - 52px);
	min-height: calc(100% - 52px);
	&.phoneh, &.phonev {
		min-height: -webkit-calc(100% - 45px);
		min-height: -moz-calc(100% - 45px);
		min-height: calc(100% - 45px);
	}

  .subscribers-table {
    margin-top: 30px;
    .ui-panel-title {
      font-size: 12px;
      font-weight: normal;
    }
    .ui-g-12 {
      &.ui-md-3 {
        min-width: 310px;
        margin: 0px auto;
      }
    }
    .item-img {
      display: inline-block;
      width: 40px;
      vertical-align: top;
      .account-avatar {
        border-radius: 30px;
        height: 40px;
        width: 40px;
        display: inline-block;
        margin-right: 10px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        vertical-align: middle;
      }
    }
    .item-content {
      display: inline-block;
      width: 225px;
      text-align: left;
      padding-left: 10px;
      div {
        label {
          font-weight: bold;
          display: inline-block;
          font-size: 12px;
          margin-right: 5px;
        }
        span {
          display: inline-block;
          font-size: 12px;
        }
      }

    }
  }

  .ui-button-icon-left.fa.fa-plus {
    display: none !important;
  }
  .ui-datagrid-header {
    font-weight: normal;
  }
  h2 {
    color: $darkblue;
  }

}
