.users-view {
  position: relative;
  text-align: center;
  margin-top: 30px;
  min-height: -webkit-calc(100% - 52px);
	min-height: -moz-calc(100% - 52px);
	min-height: calc(100% - 52px);
	&.phoneh, &.phonev {
		min-height: -webkit-calc(100% - 45px);
		min-height: -moz-calc(100% - 45px);
		min-height: calc(100% - 45px);
	}

  .users-bubble {
    position: fixed;
    height: 40px;
    width: 40px;
    background: $darkblue;
    text-align: center;
    color: $white;
    border-radius: 30px;
    bottom: 10px;
    right: 10px;
    vertical-align: middle;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    i {
      font-size: 20px;
      line-height: 40px;
    }
  }
  .users-table {
    margin-top: 30px;
    .ui-panel-title {
      font-size: 12px;
      font-weight: normal;
    }
    .ui-g-12 {
      &.ui-md-3 {
        min-width: 310px;
        margin: 0px auto;
      }
    }
    .item-img {
      display: inline-block;
      width: 40px;
      vertical-align: top;
      div {
        width: 40px;
        height: 40px;
        border-radius: 30px;
        background: $darkblue;
        color: $lightblue;
        font-weight: bold;
        text-align: center;
        line-height: 40px;
        font-size: 18px;
      }
    }
    .item-content {
      display: inline-block;
      width: 155px;
      text-align: left;
      padding-left: 10px;
      vertical-align: top;
      label {
        font-weight: bold;
        display: block;
        font-size: 12px;
      }
      span {
        display: block;
        font-size: 12px;
      }
    }
    .item-btn {
      display: inline-block;
      width: 70px;
      button {
        position: relative;
        border: 1px solid $darkblue;
        background: $darkblue;
        font-size: 12px;
        color: $white;
        padding: 3px 0px;
        width: 60px;
        border-radius: 3px;
        margin-right: 0px;
        &:first-child {
          margin-bottom: 15px;
        }
        &:enabled {
          &:active, &:hover, &:focus {
            border: 1px solid $darkblue;
            background: $darkblue;
            color: $white;
            opacity: 0.9;
          }
        }
        span {
          vertical-align: middle;
          line-height: 12px;
          font-size: 12px;
        }
      }
    }
  }
  button {
    position: relative;
    border: 1px solid $darkblue;
    background: $darkblue;
    font-size: 14px;
    color: $white;
    padding: 5px 10px;
    border-radius: 3px;
    margin-right: 0px;
    &:enabled {
      &:active, &:hover, &:focus {
        border: 1px solid $darkblue;
        background: $darkblue;
        color: $white;
        opacity: 0.9;
      }
    }
    span {
      vertical-align: middle;
      line-height: 14px;
    }
    i {
      position: inherit;
      color: $white;
      float: left;
      vertical-align: middle;
      font-size: 18px;
    }
  }
  .ui-button-icon-left.fa.fa-plus {
    display: none !important;
  }
  .ui-datagrid-header {
    font-weight: normal;
  }
  .users-error {
    color: $red;
  }
  h2 {
    color: $darkblue;
  }
  .users-dialog {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    .users-card {
      background: white;
      display: inline-block;
      vertical-align: top;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      border-radius: 5px;
      margin: 30px auto;
      width: 300px;
      .users-card-header {
        background: $darkblue;
        color: $white;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        padding: 7px 10px 7px 25px;
        text-align: left;
        font-size: 18px;
        i {
          float: right;
          line-height: 25px;
          font-size: 20px;
          margin-right: 0px;
          cursor: pointer;
        }
      }
      .users-card-body {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-right: 1px solid $gray;
        border-left: 1px solid $gray;
        border-bottom: 1px solid $gray;
        padding: 25px 25px 0px 25px;
        .users-card-element {
          .ui-dropdown {
            .ui-dropdown-label {
              text-align: left;
            }
            .ui-dropdown-trigger {
              border: 0px;
              background: $white;
              color: $darkblue;
            }
            .ui-state-highlight {
              background: $darkblue;
              color: $white;
            }
            border: 0px;
            border-bottom: 1px solid $darkblue;
            border-radius: 0px;
            &.error-input {
              border-bottom: 1px solid $red;
            }
          }
          .users-error {
            display: block;
            text-align: left;
            margin-left: 5px;
            font-size: 10px;
          }
          text-align: center;
          margin-bottom: 25px;
          button {
            position: relative;
            border: 1px solid $darkblue;
            background: $darkblue;
            font-size: 14px;
            color: $white;
            padding: 5px 105px;
            border-radius: 3px;
            margin-right: 0px;
            &:enabled {
              &:active, &:hover, &:focus {
                border: 1px solid $darkblue;
                background: $darkblue;
                opacity: 0.9;
              }
            }
            span {
              vertical-align: middle;
              line-height: 20px;
            }
            i {
              position: inherit;
              color: $white;
              float: left;
              margin-right: 10px;
              vertical-align: middle;
              font-size: 20px;
              bottom: 2px;
            }
          }
          i {
            position: absolute;
            right: 0px;
            bottom: 5px;
            color: $darkblue;
          }
          .ui-float-label {
            position: relative;
          }
          span {
            display: inline-block;
          }
          .ui-float-label {
            color: $darkblue;
            width: 100%;
            input {
              width: 99%;
            }
            label {
              color: $darkblue;
            }
          }
          input {
            background: transparent;
            border-radius: 0px;
            border-top: 0px;
            border-left: 0px;
            border-right: 0px;
            border-bottom: 1px solid $darkblue;
            color: $darkblue;
            &:focus {
              box-shadow: 0px 1px 0px $darkblue;
            }
            &:hover {
              border-color: $darkblue;
            }
            &.error-input {
              border-color: $red;
              &:focus {
                box-shadow: 0px 1px 0px $red;
              }
              &:hover {
                border-color: $red;
              }
            }
          }
        }
      }
    }
  }

}
