.phonev, .phoneh {
  &.vinneren-footer {
        .vinneren-footer-social {
          width: 100%;
          text-align: center;
        }
        .vinneren-footer-copyright {
          width: 100%;
          text-align: center;
          margin: 15px 0px;
        }
        .vinneren-footer-links {
          width: 100%;
          text-align: center;
        }
    }
}


.vinneren-footer {
  padding: 25px 20px;
  background: $darkblue;
  color: $white;
  a {
    color: $white;
    i {
      font-size: 20px;
      margin: 0px 5px;
      vertical-align: middle;
    }
  }
  .vinneren-footer-social {
    display: inline-block;
    width: 28%;
    text-align: left;
  }
  .vinneren-footer-copyright {
    display: inline-block;
    width: 44%;
    text-align: center;
  }
  .vinneren-footer-links {
    display: none;
    width: 28%;
    text-align: right;
    a {
      margin-left: 20px;
    }
  }
}
